body{
    font-family: 'Style Script', cursive;
    
    
}
.bannercontainer{
    background-color: #D9EEE1;
}
.bannercoloum{
    background-color: #7952B3;

}
.navbar-container{
    background-color: #0D1B36;
}